    <!-- Barra de navegación -->
    <header>
        <nav class="navbar">
            <nav class="nav-menu --nav-dark" id="mySidenav">
                <button class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark" (click)="adminIndex()">Avenue Fashion</button>
                <ul class="nav-menu-ul">
                </ul>
            </nav>
        </nav>
        <nav class="navbar">
            <header class="nabvar-mobile is-size-5-mobile">
                <a class="navbar-mobile-link has-text-white" href="#" id="btn-mobile"><i class="zmdi zmdi-menu"></i></a>
            </header>
        </nav>
    </header>
    <!-- Banner -->
    <div class="banner banner-second">
        <div class="container">
            <div class="columns">
                <div class="slider" id="slider">

                    <div *ngIf="itemToBuy" class="slider-img-container active" style="min-height: 55vh; min-width: 90vh; display: flex; justify-content: center; align-items: center;">
                        <div class="card">
                            <div class="columns">
                                <div class="column is-two-fifths-desktop">
                                    <img [src]="itemImage(itemToBuy.items[0].id)" alt="camiseta" width="200" height="200">
                                </div>
                                <div class="column">
                                    <h3 class="is-size-4">{{itemToBuy.items[0].name}}</h3>
                                    <h2 class="price is-size-4">{{itemToBuy.items[0].price}} €<sup></sup></h2>
                                    <div *ngIf="itemToBuy.items[0].stocks[0]">
                                        <div *ngIf="itemToBuy.items[0].stocks[0].stock>0 && itemToBuy.items[0].stocks[0].stock<=5">
                                            <p class="has-text-grey"><strong>Availability: </strong>less than 5 articles avaialables</p>
                                        </div>
                                        <div *ngIf="itemToBuy.items[0].stocks[0].stock>5">
                                            <p class="has-text-grey"><strong>Availability: </strong>In stock</p>
                                        </div>
                                    </div>
                                    <p class="has-text-grey"><strong>Gender: </strong>{{itemToBuy.items[0].gender}}</p>
                                    <p class="has-text-grey"><strong>Size: </strong>{{itemToBuy.size}}</p>
                                    <p class="has-text-grey"><strong>Type: </strong>{{itemToBuy.items[0].type}}</p>
                                    <p class="has-text-grey"><strong>Amount: </strong>{{itemToBuy.count}}</p> 
                                    <p class="text-default">{{itemToBuy.items[0].description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngFor="let itemToBuy of itemsToBuy" class="slider-img-container" style="min-height: 55vh; min-width: 90vh; display: flex; justify-content: center; align-items: center;">' +
                        <div class="card">
                            <div class="columns">
                                <div class="column is-two-fifths-desktop">
                                    <img [src]="itemImage(itemToBuy.items[0].id)" alt="camiseta" width="200" height="200">
                                </div>
                                <div class="column">
                                    <h3 class="is-size-4">{{itemToBuy.items[0].name}}</h3>
                                    <h2 class="price is-size-4">{{itemToBuy.items[0].price}} €<sup></sup></h2>
                                    <div *ngIf="itemToBuy.items[0].stocks[0]">
                                        <div *ngIf="itemToBuy.items[0].stocks[0].stock>0 && itemToBuy.items[0].stocks[0].stock<=5">
                                            <p class="has-text-grey"><strong>Availability: </strong>less than 5 articles avaialables</p>
                                        </div>
                                        <div *ngIf="itemToBuy.items[0].stocks[0].stock>5">
                                            <p class="has-text-grey"><strong>Availability: </strong>In stock</p>
                                        </div>
                                    </div>
                                    <p class="has-text-grey"><strong>Gender: </strong>{{itemToBuy.items[0].gender}}</p>
                                    <p class="has-text-grey"><strong>Size: </strong>{{itemToBuy.size}}</p>
                                    <p class="has-text-grey"><strong>Type: </strong>{{itemToBuy.items[0].type}}</p>
                                    <p class="has-text-grey"><strong>Amount: </strong>{{itemToBuy.count}}</p>
                                    <p class="text-default">{{itemToBuy.items[0].description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="button-left" *ngIf="items && items.length > 0"> 
                        <div class="slider-button-left slider-buttons" onclick="previous()">
                            <i class="zmdi zmdi-chevron-left zmdi-hc-3x"></i>
                        </div>   
                    </div>
                    <div class="button-right" *ngIf="items && items.length > 0">
                        <div class="slider-button-right slider-buttons" onclick="next()">
                            <i class="zmdi zmdi-chevron-right zmdi-hc-3x"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div *ngIf="order" class="columns">
            <div class="column is-two-fifths-desktop" id="banner-container">
                <!--order information-->
                <h1>Order</h1>
                <div class="columns">
                    <div class="column">
                        <p class="has-text-dark"><strong class="has-text-grey-light">Code: </strong>{{order.code}}</p>
                        <p class="has-text-dark"><strong class="has-text-grey-light">Total cost: </strong>{{order.totalCost}} €</p>
                        <p class="has-text-dark"><strong class="has-text-grey-light">Creation date: </strong>{{order.creationDate}}</p>
                        <p class="has-text-dark"><strong class="has-text-grey-light">State: </strong>{{order.state}}</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns is-multiline">
                    <div class="column is-one-third">
                        <h2 for="color">Order states:</h2>
                        <div *ngFor="let state of states" class="form-control-field" id="state">
                            <label><input type="radio" name="state" [value]="state" [(ngModel)]="newOrder.state" required/>{{state}}</label>
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-full is-marginless">
                        <button (click)="updateState()" class="btn btn-default btn-outline">save</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="footer-bar-top">
            <div class="container">
                <a class="footer-bar-top-links">2024 Avenue Fashion</a>
            </div>
        </div>
    </footer>
