version: "3.9"
services: 
  #frontend:
  #  image: maalami/springbootstorefrontend
  #  ports:
  #    - "443:443"
  #  depends_on:
  #    - gateway
  gateway:
    build: 
      dockerfile: Dockerfile
    image: maalami/springbootgateway
    ports:
      - 8442:8442
    # - 443:443
    #environment:
    #  - SPRING_DATASOURCE_USERNAME=root
    #  - SPRING_DATASOURCE_PASSWORD=Mundialmente1
    restart: always
    depends_on:
    #  - db
      - store
      - order
      - inventory
  inventory:
    build: .
    image: maalami/springbootinventory:latest
    ports:
      - 8444:8444
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/items
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Mundialmente1
    restart: always
    depends_on:
      - db
  order:
    build: .
    image: maalami/springbootorder:latest
    ports:
      - 8445:8445
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/items
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Mundialmente1
    restart: always
    depends_on:
      - db
  store:
    build:
      dockerfile: Dockerfile
    image: maalami/springbootstore:latest
    ports:
      - 8443:8443
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/items
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Mundialmente1
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
    depends_on:
      - db
      - redis
    restart: always
  db:
    image: mysql:8.0.33
    environment:
      - MYSQL_ROOT_PASSWORD=Mundialmente1
      - MYSQL_DATABASE=items
  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    #volumes:
    #  - ./mysql:/var/lib/mysql