version: "3.9"
services: 
  gateway:
    build: 
      dockerfile: Dockerfile
    image: maalami/springbootgateway:latest
    ports:
      - 8442:8442
    restart: always
    depends_on:
      - db
      - store
 #     - order
 #     - inventory
  #inventory:
  #  build:
  #    dockerfile: Dockerfile
  #  image: maalami/springbootinventory:latest
  #  ports:
  #    - 8444:8444
  #  environment:
  #    - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/items
  #    - SPRING_DATASOURCE_USERNAME=root
  #    - SPRING_DATASOURCE_PASSWORD=Mundialmente1
  #  restart: always
  #  depends_on:
  #    - db
  #order:
  #  build:
  #    dockerfile: Dockerfile
  #  image: maalami/springbootorder:latest
  #  ports:
  #    - 8445:8445
  #  environment:
  #    - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/items
  #    - SPRING_DATASOURCE_USERNAME=root
  #    - SPRING_DATASOURCE_PASSWORD=Mundialmente1
  #  restart: always
  #  depends_on:
  #    - db
  store:
    build:
      dockerfile: Dockerfile
    image: maalami/springbootstore:latest
    ports:
      - 8443:8443
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/items
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Mundialmente1
    depends_on:
      - db
    restart: always
  db:
    image: mysql:8.0.33
    environment:
      - MYSQL_ROOT_PASSWORD=Mundialmente1
      - MYSQL_DATABASE=items
