    <!-- Barra de navegación -->
    <header>
        <nav class="navbar-top">
            <ul class="navbar-top-ul">
                <li class="navbar-top-order">
                </li>
                <li class="navbar-top-order">
                </li>
            </ul>
        </nav>
        <nav class="navbar">
            <nav class="nav-menu " id="mySidenav">
                <!--<div class="container">-->
                <button class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark" (click)="home()">Avenue Fashion</button>
                <!--</div>-->
                <ul class="nav-menu-ul">
                    <div class="user-img">
                        <img [src]="adminImage()" alt="" width="50" height="50"/>
                    </div>
                </ul>
                <form>
                    <div>
                        <span class="form-group-icon"><i class="zmdi zmdi-search"></i></span>
                        <input name="nameByCode" [(ngModel)]="nameByCode" type="text" placeholder="Search by code..."/>                       
                        <button (click)="searchOrdersByCode()">Search</button>
                    </div>
                </form>
                <form>
                    <div>
                        <span class="form-group-icon"><i class="zmdi zmdi-search"></i></span>
                        <input name="nameByDate" [(ngModel)]="nameByDate" type="date" val="" placeholder="'dd-mm-aaaa'"/>                       
                        <button (click)="searchOrdersByDate()">Search</button>
                    </div>
                </form>
                <!--orders listing-->     
            </nav>
        </nav>
    </header>

    <!-- Banner -->
    <div class="banner banner-second">
        <div class="container">
            <div class="columns">
            </div>
        </div>
    </div>

    <!-- Sección de fotografías -->
    <div class="container">

        <div *ngIf="ordersByCode">
            <!--order searching-->
            <div class="topbar-filter fw">
                <p id="total-orders-founded">Found <span>{{size1}} orders </span></p>
            </div>

            <!--orders founded listing-->
            <div class="columns is-mobile is-multiline" id="ordersFoundedListing">
                <!--orders founded info-->
                <div *ngFor="let order of ordersByCode" class="column is-half-mobile is-one-quarter-desktop">
                    <div class="card">
                        <img src="https://pub-f65070d681344ae4af3e8b15f47129a8.r2.dev/no_image.png" alt="" width="200" height="200">
                        <div class="card-simple-options">
                            <a [routerLink]="['/order/orders/' + order.id + '/state']" class="btn btn--mini-rounded">
                                <div class="columns is-multiline">
                                    <div class="column is-full is-marginless">VIEW ORDER</div>
                                </div>
                            </a>
                        </div>
                        <div class="card-info"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <ul class="pagination">
                                <li>
                                    <button (click)="moreOrdersByCode()" class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark"> more results </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="ordersByDate">
            <!--order searching-->
            <div class="topbar-filter fw">
                <p id="total-orders-founded">Found <span>{{size2}} orders </span></p>
            </div>

            <!--orders founded listing-->
            <div class="columns is-mobile is-multiline" id="ordersFoundedListing">
                <!--orders founded info-->
                <div *ngFor="let order of ordersByDate" class="column is-half-mobile is-one-quarter-desktop">
                    <div class="card">
                        <img src="https://pub-f65070d681344ae4af3e8b15f47129a8.r2.dev/no_image.png" alt="" width="200" height="200">
                        <div class="card-simple-options">
                            <a [routerLink]="['/order/orders/' + order.id + '/state']" class="btn btn--mini-rounded">
                                <div class="columns is-multiline">
                                    <div class="column is-full is-marginless">VIEW ORDER</div>
                                </div>
                            </a>
                        </div>
                        <div class="card-info"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <ul class="pagination">
                                <li>
                                    <button (click)="moreOrdersByDate()" class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark"> more results </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="topbar-filter fw">
            <p id="total-orders"><span>{{size}} orders</span> in total</p>
        </div>

        <!--orders listing-->
        <div class="columns is-mobile is-multiline" id="ordersListing">
            <!--orders info-->
            <div *ngFor="let order of orders" class="column is-half-mobile is-one-quarter-desktop">
                <div class="card">
                    <img src="https://pub-f65070d681344ae4af3e8b15f47129a8.r2.dev/no_image.png" alt="" width="200" height="200"/>
                    <div class="card-simple-options">
                        <a [routerLink]="['/order/orders/' + order.id + '/state']" class="btn btn--mini-rounded">
                            <div class="columns is-multiline">
                                <div class="column is-full is-marginless">VIEW ORDER</div>
                            </div>
                        </a>
                    </div>
                    <div class="card-info"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <ul class="pagination">
                            <li>
                                <button (click)="moreOrders()" class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark"> more results </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>      
        </div>

    </div>
<!--pagination-->
    
<!--spinner-->    
    <div id="spinner-div" class="pt-5">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>

    <div id="plotlyChart" width="400" height="150"></div>

    <footer class="footer">     
        <div class="footer-bar-top">
            <li class="footer-bar-top-links">2024 Avenue Fashion</li>
        </div>
    </footer>