    <!-- Barra de navegación -->
    <header>
        <nav class="navbar-top">
            <ul class="navbar-top-ul">
                <li class="navbar-top-item">
                    <!--<a href="login.html" class="navbar-top-links">Registro</a>-->
                </li>
                <li class="navbar-top-item">
                    <!--<a href="login.html" class="navbar-top-links">Iniciar sesión</a>-->
                </li>
                <ul class="navbar-top-item">
                    <ul *ngIf="userService.isLogged()">
                        <div #user *ngIf="userService.isUser()">
                            <button (click)="shoppingCartPage()" class="navbar-top-links"> <!-- DONE -->
                                <i class="zmdi zmdi-shopping-cart has-text-dark"></i> Shopping cart
                                <!-- <i class="zmdi zmdi-chevron-down"></i> -->
                            </button>
                        </div>
                    </ul>
                </ul>
            </ul>
        </nav>
        <nav class="navbar">
            <ul class="nav-menu" id="mySidenav">
                <li class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark">Avenue Fashion</li>
                <ul class="nav-menu-ul">
                    <li #user *ngIf="userService.isLogged() && userService.isUser()">
                        <img [src]="userImage(this.userService.getCurrentUser().id)" alt="" width="50" height="50"/>
                    </li>
                    <li #user *ngIf="userService.isLogged() && userService.isUser()">
                        <button (click)="my_profile()" class="nav-menu-link">My profile</button> <!-- DONE -->
                    </li>
                    <li #user *ngIf="userService.isLogged() && userService.isUser()">
                        <button (click)="userOrders(this.userService.getCurrentUser().id)" class="nav-menu-link">Orders</button> <!-- DONE-->
                    </li>
                    <li #admin *ngIf="userService.isLogged() && userService.isAdmin()">
                        <img [src]="adminImage()" alt="" width="50" height="50"/>
                    </li>
                    <li #admin *ngIf="userService.isLogged() && userService.isAdmin()">
                        <button (click)="inventory()" class="nav-menu-link">Inventory</button> <!-- DONE -->
                    </li>
                    <li #admin *ngIf="userService.isLogged() && userService.isAdmin()">
                        <button (click)="orders()" class="nav-menu-link">Orders</button> <!-- DONE --> 
                    </li>
                    <li *ngIf="userService.isLogged()">
                        <button (click)="signout()" class="nav-menu-link">Log out</button> <!--DONE-->
                    </li>	
                    <li *ngIf="!userService.isLogged()">
                        <img [src]="adminImage()" alt="" width="50" height="50"/>
                    </li>
                    <li *ngIf="!userService.isLogged()">
                        <button (click)="signup()" class="nav-menu-link">Registration</button> <!--PENDING-->
                    </li>
                    <li *ngIf="!userService.isLogged()">
                        <button (click)="login()" class="nav-menu-link">Login</button> <!--DONE-->
                    </li>
                    <form>
                        <div>
                            <span class="form-group-icon"><i class="zmdi zmdi-search"></i></span>
                            <input id="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Search..."/>                       
                            <button (click)="searchItem()">Search</button>

                        </div>
                    </form>
                </ul>
                <!--items listing-->     
            </ul>
        </nav>
    </header>
    <!-- Banner -->
    <div class="banner banner-cover">
        <div class="banner-container">
            <h1 class="title-cover">AVE</h1>
        </div>
    </div>

    <!-- Sección de fotografías -->
    <div class="container">

        <ul *ngIf="userService.isLogged()">
            <ul #user *ngIf="userService.isUser()">
                <div class="topbar-filter fw">
                    <p id="total-fav-item" *ngIf="capacityFav"><span>{{capacityFav}} favourites items</span> in total</p>
                </div>   

                <div class="columns is-mobile is-multiline" id="favouritesItems">
                    <!--favourites items-->
                    <div *ngFor="let item of itemsFav" class="column is-half-mobile is-one-quarter-desktop">
                        <div class="card"><span class="price">{{item.price}}</span>
                            <img [src]="getItemImage(item.id)" alt="" width="200" height="200">
                            <div class="card-simple-options">
                                <a [routerLink]="['/store/items/' + item.id + '/page']" class="btn btn--mini-rounded">  <!-- DONE --> 
                                    <div class="columns is-multiline">
                                        <div class="column is-full is-marginless">ADD</div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-info">
                                <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.name}}</h4>
                                <div class="has-text-centered">{{item.description}}
                                    <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.price}} €</h4>
                                </div>
                                <div class="card-buttons">
                                    <button (click)="addFavItem(item.code, userService.getCurrentUser())" class="btn btn--mini-rounded">
                                        <i class="zmdi zmdi-favorite-outline"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-single">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-sm-12 col-xs-12">
                                <ul class="fav-items-pagination">               
                                    <li><button (click)="moreFavItems()" class="nav-menu-lin">more fav results</button></li>
                                </ul>
                            </div>                  
                        </div>
                    </div>
                </div>
            </ul>
        </ul>

        <!--item searching-->
        <div class="topbar-filter fw">
			<p id="total-item-founded" *ngIf="capacityFounded">Founded <span>{{capacityFounded}} items </span></p>
		</div>
        
        <!--items listing founded-->
        <div class="columns is-mobile is-multiline" id="itemFoundedListing">
            <!--items info founded-->
            <div *ngFor="let item of itemsFounded" class="column is-half-mobile is-one-quarter-desktop">
                <div class="card"><span class="price">{{item.price}}</span>
                    <img [src]="getItemImage(item.id)" alt="" width="200" height="200">
                    <li class="card-simple-options" #user *ngIf="userService.isLogged() && userService.isUser()">
                            <a [routerLink]="['/store/items/' + item.id + '/page']" class="btn btn--mini-rounded">
                                <div class="columns is-multiline">
                                    <div class="column is-full is-marginless">ADD</div>
                                </div>
                            </a>
                    </li>
                    <div class="card-info">
                        <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.name}}</h4>
                        <div class="has-text-centered">{{item.description}}
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.price}} €</h4>
                        </div>
                        <div class="card-buttons">
                            <ul *ngIf="userService.isLogged()">
                                <ul #user *ngIf="userService.isUser()">
                                    <button (click)="addFavItem(item.code, userService.getCurrentUser())" class="btn btn--mini-rounded">
                                        <i class="zmdi zmdi-favorite-outline"></i>
                                    </button>
                                </ul>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <ul class="items-founded-pagination">               
                            <li><button (click)="moreItemsFounded()" class="nav-menu-lin">more results founded</button></li>
                        </ul>
                    </div>                  
                </div>
            </div>
        </div>

        <div class="topbar-filter fw">
			<p id="total-item" *ngIf="capacity"><span>{{capacity}} items</span> in total</p>
		</div>
        <!--items listing-->
        <div class="columns is-mobile is-multiline" id="itemListing">
            <!--items info-->
            <div *ngFor="let item of items" class="column is-half-mobile is-one-quarter-desktop">
                <div class="card"><span class="price">{{item.price}}</span>
                    <img [src]="getItemImage(item.id)" alt="" width="200" height="200">
                   <li class="card-simple-options" #user *ngIf="userService.isLogged() && userService.isUser()">
                       
                            <a [routerLink]="['/store/items/' + item.id + '/page']" class="btn btn--mini-rounded">
                                <div class="columns is-multiline">
                                    <div class="column is-full is-marginless">ADD</div>
                                </div>
                            </a>
                    </li>
                    <div class="card-info">
                        <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.name}}</h4>
                        <div class="has-text-centered">{{item.description}}
                            <h4 class="has-text-black has-text-centered has-text-weight-bold">{{item.price}} €</h4>
                        </div>
                        <div class="card-buttons">
                            <ul *ngIf="userService.isLogged()">
                                <ul #user *ngIf="userService.isUser()">
                                    <button (click)="addFavItem(item.code, userService.getCurrentUser())" class="btn btn--mini-rounded">
                                        <i class="zmdi zmdi-favorite-outline"></i>
                                    </button>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <ul class="pagination">               
                            <li><button (click)="moreItems()" class="nav-menu-lin">more results</button></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
<!--pagination-->
    
<!--spinner-->    
    <div id="spinner-div" class="pt-5">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>

    <div id="plotlyChart" width="400" height="150"></div>

    <footer class="footer">     
        <div class="footer-bar-top">
            <li class="footer-bar-top-links">2024 Avenue Fashion</li>
        </div>
    </footer>

